<h1 class="mb-4">Add a New Restaurant</h1>

<%= simple_form_for @restaurant, html: { class: "form-horizontal" } do |f| %>
  <div class="mb-3">
    <%= f.input :name, label_html: { class: "form-label" }, input_html: { class: "form-control" } %>
  </div>
  <div class="mb-3">
    <%= f.input :address, label_html: { class: "form-label" }, input_html: { class: "form-control" } %>
  </div>
  <div class="mb-3">
    <%= f.input :phone_number, label_html: { class: "form-label" }, input_html: { class: "form-control" } %>
  </div>
  <div class="mb-3">
    <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"], label_html: { class: "form-label" }, input_html: { class: "form-select" } %>
  </div>
  <%= f.button :submit, "Create Restaurant", class: "btn btn-primary" %>
<% end %>
